*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    line-height: 1.5;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 500;
}

main {
    flex-grow: 1;
}

p {
    margin: 0px;
    padding: 0px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
    padding: 0px;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

img {
    display: block;
}

a {
display: inline-block;
}