$green: rgba(42, 128, 134, 1);
$white: rgba(197, 225, 229, 1);




$roboto: 'Roboto', Arial, Helvetica, sans-serif;
$roboto-mono: 'roboto-mono' 'Courier New', Courier, monospace;
$rubik: 'rubik', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


$desktop:  1200px;
$tablet: 680px;
$mobile: 360px;